__pycache__/
*.py[cod]
/output/
/input/
!/input/example.png
/models/
/temp/
# /custom_nodes/
custom_nodes/ComfyUI-Manager/
custom_nodes/ComfyUI-Impact-Pack/
custom_nodes/ComfyUI-post-processing-nodes/
custom_nodes/comfyui-mixlab-nodes/
custom_nodes/comfyui-reactor-node/
custom_nodes/comfyui_controlnet_aux/
custom_nodes/masquerade-nodes-comfyui/
custom_nodes/was-node-suite-comfyui/
# !custom_nodes/ComfyUI-Primelabs/custom_s3.py
# !custom_nodes/example_node.py.example
extra_model_paths.yaml
/.vs
.idea/
venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
*.log
.env
